<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalProject.mappers.adminReviewMapper">

	<!-- 리뷰 총 개수 가져오기 -->
	<select id="selectTotalReviewCnt" resultType="int">
		select count(*) from
		reviews
	</select>

	<!-- 리뷰 리스트 가져오기 -->
	<select id="selectReviewList" resultType="AdminReviewDTO">
		select review_no, member_id, review_title, register_date, product_no
		from reviews
		order by review_no desc
		limit
		#{startRowIndex}, #{viewDataCntPerPage}
	</select>
</mapper>