<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalProject.mappers.homeMapper">

	<!-- 신상품 가져오기 -->
	<select id="selectNewProducts" resultType="HomeProductDTO">
		select
		p.product_no,
		p.product_name, p.product_price, c.category_name, i.image_url
		from products p
		join categories c on p.product_category = c.category_no
		join product_images i on p.product_no = i.product_no
		where p.product_show = 'N'
		and i.image_type = 'M'
		order by p.product_reg_date desc
		limit #{count}
	</select>
	
	<!-- 배너 리스트 가져오기 -->
	<select id="selectBannerList" resultType="BannerDTO">
		select b.banner_no,
		b.notice_no, b.banner_type, n.banner_image, n.thumbnail_image, n.url, n.notice_title
		from banners b join notices n on b.notice_no = n.notice_no
		where n.notice_type = 'E'
	</select>

</mapper>