<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalProject.mappers.memberMapper">
	<!-- 쿼리문 -->

	<!-- 로그인 -->
	<select id="login" resultType="LoginDTO">
		select * from members where
		member_id = #{member_id} and member_pwd = sha2(#{member_pwd}, 256)
	</select>

	<!-- id, email, phone_number 중복 체크 -->
	<select id="autoDuplicate" resultType="int">
		select count(*) from members
		<choose>
			<when test="key == 'id'">
				where member_id = #{value}
			</when>
			<when test="key == 'email'">
				where email = #{value}
			</when>
			<when test="key == 'phone'">
				where phone_number = #{value}
			</when>
		</choose>
	</select>

	<!-- 회원가입 -->
	<insert id="signUpMember">
		insert into members(member_id, member_name,
		member_pwd, phone_number, birthday, gender, email, address, nickname)
		values(#{member_id}, #{member_name}, sha2(#{member_pwd}, 256),
		#{phone_number},
		#{birthday}, #{gender}, #{email}, #{address},
		#{nickname})
	</insert>

	<!-- 자동 로그인 정보 저장 -->
	<update id="updateAutoLoginData">
		update members
		set autologin_code = #{autologin_code},
		autologin_date = DATE_ADD(NOW(), INTERVAL #{autologin_date} DAY)
		where
		member_id = #{member_id}
	</update>

	<!-- 자동 로그인 정보 조회 -->
	<select id="selectAutoLoginData" resultType="LoginDTO">
		select * from
		members where autologin_code = #{autologin_code} and autologin_date >
		now()
	</select>


</mapper>