<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalProject.mappers.userNoticeMapper">

    <!-- 공지사항 목록 조회 -->
    <select id="getNotices" parameterType="map" resultType="NoticeDTO">
        select notice_no, notice_title, admin_id, notice_type, reg_date
		from notices where is_delete='N' and notice_type = 'N' order by reg_date desc
		LIMIT #{startRowIndex}, #{pagingSize}
    </select>
    
    <!-- 공지사항 상세 페이지 조회 -->
    <select id="getNoticeById" parameterType="int" resultType="NoticeDTO">
        SELECT notice_no, notice_type, notice_title, notice_content, reg_date, admin_id 
        FROM notices 
        WHERE notice_no = #{noticeNo} AND notice_type = 'N';
    </select>

    <!-- 이벤트 목록 조회 -->
    <select id="getEvents" parameterType="map" resultType="NoticeDTO">
        select notice_no, notice_title, admin_id, notice_type, reg_date, event_start_date, event_end_date, thumbnail_image
        from notices where is_delete='N' and notice_type = 'E' order by reg_date desc
        LIMIT #{startRowIndex}, #{pagingSize}
    </select>
    
    <!-- 이벤트 상세 페이지 조회 -->
    <select id="getEventById" parameterType="int" resultType="NoticeDTO">
        SELECT notice_no, notice_type, notice_title, notice_content, reg_date, admin_id, event_start_date, event_end_date 
        FROM notices 
        WHERE notice_no = #{noticeNo} AND notice_type = 'E';
    </select>
    
    <!-- 총 글(데이터) 수 -->
	<select id="getTotalPostCount" resultType="int">
		select count(*) from notices
		where is_delete='N' and notice_type = 'N'
    </select>
    
    <!-- 공지사항 목록 조회 -->
	<select id="getAllNotices" parameterType="map" resultType="NoticeDTO">
		select notice_no, notice_title, admin_id, notice_type, reg_date
		from notices where is_delete='N' and notice_type = 'N' order by reg_date desc
		LIMIT #{startRowIndex}, #{pagingSize}
    </select>

<!-- 이벤트 목록 조회 -->
	<select id="getAllEvents" parameterType="map" resultType="NoticeDTO">
        select notice_no, notice_title, admin_id, notice_type, reg_date, event_start_date, event_end_date, thumbnail_image
        from notices where is_delete='N' and notice_type = 'E' order by reg_date desc
        LIMIT #{startRowIndex}, #{pagingSize}
    </select>
    
<!-- 총 글(데이터) 수 -->
	<select id="selectNoticeCnt" resultType="int">
		select count(*) from notices
		where is_delete='N' and notice_type = 'N'
    </select>
	

<!-- 페이지네이션이 적용된 공지 목록 조회 -->
    <select id="selectNoticeList" resultType="NoticeDTO">
        SELECT notice_no, notice_title, admin_id, notice_type, reg_date
        FROM notices WHERE is_delete='N' AND notice_type = 'N' 
        ORDER BY reg_date DESC 
        LIMIT #{startRowIndex}, #{viewDataCntPerPage}
    </select>
    
<!-- 총 글(데이터) 수 -->
	<select id="selectEventCnt" resultType="int">
		select count(*) from notices
		where is_delete='N' and notice_type = 'E'
    </select>
	

<!-- 페이지네이션이 적용된 이벤트 목록 조회 -->
    <select id="selectEventList" resultType="NoticeDTO">
        SELECT notice_no, notice_title, admin_id, notice_type, reg_date, event_start_date, event_end_date, thumbnail_image
        FROM notices WHERE is_delete='N' AND notice_type = 'E' 
        ORDER BY reg_date DESC 
        LIMIT #{startRowIndex}, #{viewDataCntPerPage}
    </select>
    
</mapper>
