<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <logger name="jdbc.sqlonly"       level="DEBUG"/>
      <logger name="jdbc.sqltiming"        level="INFO"/>
      <logger name="jdbc.audit"          level="WARN"/>
      <logger name="jdbc.resultset"       level="ERROR"/>
      <logger name="jdbc.resultsettable"  level="ERROR"/>
      <logger name="jdbc.connection"       level="INFO"/>
      <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--     <root level="debug"> -->
<!--         <appender-ref ref="CONSOLE"/> -->
<!--         <appender-ref ref="FILE"/> -->
<!--     </root> -->
</configuration>