<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.finalProject.model.LoginDTO" alias="LoginDTO" />
		<typeAlias type="com.finalProject.model.admin.notices.NoticeDTO" alias="NoticeDTO" />
		<typeAlias type="com.finalProject.model.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.finalProject.model.BlackInfoDTO" alias="BlackInfoDTO" />
		
		<typeAlias type="com.finalProject.model.product.ProductDTO" alias="ProductDTO" />
		<typeAlias type="com.finalProject.model.admin.notices.NoticeVO" alias="NoticeVO" />
		<typeAlias type="com.finalProject.model.admin.notices.SearchCriteriaDTO" alias="SearchCriteriaDTO" />
		<typeAlias type="com.finalProject.model.admin.notices.BannerVO" alias="BannerVO" />
		<typeAlias type="com.finalProject.model.review.ReviewDTO" alias="ReviewDTO" />
		<typeAlias type="com.finalProject.model.review.ReviewDetailDTO" alias="ReviewDetailDTO" />
		<typeAlias type="com.finalProject.model.review.ProductDetailReviewDTO" alias="ProductDetailReviewDTO" />
		<typeAlias type="com.finalProject.model.review.PointEarnedDTO" alias="PointEarnedDTO" />

		
		
		<typeAlias type="com.finalProject.model.inquiry.InquiryDTO" alias="InquiryDTO" />
		<typeAlias type="com.finalProject.model.inquiry.InquiryDetailDTO" alias="InquiryDetailDTO" />
		<typeAlias type="com.finalProject.model.inquiry.InquiryImgDTO" alias="InquiryImgDTO" />
		<typeAlias type="com.finalProject.model.inquiry.InquiryProductDTO" alias="InquiryProductDTO" />
		<typeAlias type="com.finalProject.model.admin.inquiry.InquiryReplyDTO" alias="InquiryReplyDTO" />
	    <typeAlias type="com.finalProject.model.admin.statistics.CateSalesDTO" alias="CateSalesDTO" />
	    <typeAlias type="com.finalProject.model.admin.statistics.PriceRangeDTO" alias="PriceRangeDTO" />
	    <typeAlias type="com.finalProject.model.admin.statistics.GenderSalesDTO" alias="GenderSalesDTO" />
	    <typeAlias type="com.finalProject.model.admin.statistics.AgeGroupSalesDTO" alias="AgeGroupSalesDTO" />
		<typeAlias type="com.finalProject.model.admin.member.MemberManageDTO" alias="MemberManageDTO" />
		<typeAlias type="com.finalProject.model.admin.coupon.CouponDTO" alias="CouponDTO" />
		<typeAlias type="com.finalProject.model.admin.coupon.CouponPayDTO" alias="CouponPayDTO" />
		<typeAlias type="com.finalProject.model.admin.coupon.CouponPayLogDTO" alias="CouponPayLogDTO" />
		
		<typeAlias type="com.finalProject.model.admin.review.AdminReviewDTO" alias="AdminReviewDTO" />
		<typeAlias type="com.finalProject.model.admin.review.AdminReviewDetailDTO" alias="AdminReviewDetailDTO" />
		<typeAlias type="com.finalProject.model.admin.review.ReviewImgDTO" alias="ReviewImgDTO" />
		<typeAlias type="com.finalProject.model.admin.review.ReviewReplyDTO" alias="ReviewReplyDTO" />
		
		
		
		<typeAlias type="com.finalProject.model.home.HomeProductDTO" alias="HomeProductDTO" />
		
		<typeAlias type="com.finalProject.model.admin.homepage.EventDTO" alias="EventDTO" />
		
		<typeAlias type="com.finalProject.model.admin.homepage.BannerDTO" alias="BannerDTO" />
		
		<typeAlias type="com.finalProject.model.admin.GenderCountDTO" alias="GenderCountDTO" />
		<typeAlias type="com.finalProject.model.admin.LevelCountDTO" alias="LevelCountDTO" />
		<typeAlias type="com.finalProject.model.admin.SaleCountDTO" alias="SaleCountDTO" />
		<typeAlias type="com.finalProject.model.admin.RevenueDTO" alias="RevenueDTO" />
		
		
		<typeAlias type="com.finalProject.model.level.LevelDTO" alias="LevelDTO" />
		
	</typeAliases>
</configuration>