<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.finalProject.model.LoginDTO" alias="LoginDTO" />
		<typeAlias type="com.finalProject.model.admin.notices.NoticeDTO" alias="NoticeDTO" />
		
		<typeAlias type="com.finalProject.model.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.finalProject.model.product.ProductDTO" alias="ProductDTO" />
		<typeAlias type="com.finalProject.model.review.ReviewDTO" alias="ReviewDTO" />

		
		
		<typeAlias type="com.finalProject.model.inquiry.InquiryDTO" alias="InquiryDTO" />
		<typeAlias type="com.finalProject.model.inquiry.InquiryDetailDTO" alias="InquiryDetailDTO" />
		<typeAlias type="com.finalProject.model.inquiry.InquiryImgDTO" alias="InquiryImgDTO" />
		<typeAlias type="com.finalProject.model.admin.inquiry.InquiryReplyDTO" alias="InquiryReplyDTO" />
		
		<typeAlias type="com.finalProject.model.admin.member.MemberManageDTO" alias="MemberManageDTO" />
		<typeAlias type="com.finalProject.model.admin.coupon.CouponDTO" alias="CouponDTO" />
		<typeAlias type="com.finalProject.model.admin.coupon.CouponPayDTO" alias="CouponPayDTO" />
		
		<typeAlias type="com.finalProject.model.home.HomeProductDTO" alias="HomeProductDTO" />
		
	</typeAliases>
</configuration>